ReaPack/cache/
ReaPack/registry.db
reaper-auplugins64.ini
reaper-auplugins64-bc.ini
reaper-midihw.ini
reaper-recentfx.ini
reaper-reginfo2.ini
reaper-vstplugins64.ini
reaper-vstshells64.ini
reaper-wndpos.ini
